<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
</head>
  <body>
    {{{body}}}
    <script>
      console.log("Say this plz");
      let notParsed = document.cookie;
      let parsed = decodeURIComponent(document.cookie);
      console.log(notParsed);
      console.log(parsed);
    </script>
  </body>
</html>
