<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to the CSS Garden of Good and Evil</h1>
      <form class="form-group" method="POST">
        <div class="radio">
          <label><input type="radio" name="goodOrEvil" value="good" />Good</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="goodOrEvil" value="evil" />Evil</label>
        </div>


        <label>Favorite Food:<input name="favFood" type="text" class="form-control" /></label>
        <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

        <div>
          <input type="range" min="-10" max="10">
        </div>


    </div>
    <button type="submit">Submit Properties</button>
    </form>
  </div>
  </div>

</section>
