<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to the CSS Garden of Good and Evil</h1>
      <form class="form-group" method="POST">
        <div class="radio">
          <label><input type="radio" name="goodOrEvil" value="good" />Good</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="goodOrEvil" value="evil" />Evil</label>
        </div>

        <!--
        <label>Favorite Food:<input name="favFood" type="text" class="form-control" /></label>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      -->

    </div>
    <button type="submit">Submit Properties</button>
    </form>
  </div>
  </div>

</section>
