<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Welcome to the CSS Garden of Good and Evil</h1>
      <form class="form-group" method="POST">
        <div class="radio">
          <label><input type="radio" name="goodOrEvil" value="good" />Good</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="goodOrEvil" value="evil" />Evil</label>
        </div>
        <label>Favorite Food:<input name="favFood" type="text" class="form-control" /></label>

        <!-- <div class="dropdown">
          <select class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" href="#">
            <span id="selected">FavoriteColor</span><span class="caret"></span>
          </select>
          <ul class="dropdown-menu">
            <li><a href="#">blue</a></li>
            <li><a href="#">red</a></li>
            <li><a href="#">green</a></li>
          </ul>
          </div> -->

          <div class="radio">
            <label><input type="radio" name="favColor" value="green" />Green</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="favColor" value="red" />Red</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="favColor" value="blue" />Blue</label>
          </div>

        <div>
          <input type="range" min="-10" max="10">
        </div>


    <button type="submit">Submit Properties</button>

    </form>
    </div>
  </div>
</section>
